.image-options {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
}

.image-option {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

.radio-btn {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.product-opt {
  display: flex;
  gap: 30px;
}

input[type="radio"] {
  display: none;
}

.custom-checkbox-label {
  display: block;
  margin-bottom: 5px;
}

.custom-checkbox-label.selected {
  border: 2px solid #f8b45c;
}

.custom-checkbox-label input {
  display: none;
}

.custom-checkbox-label input:checked + .custom-checkbox-text {
  font-weight: bold;
}
.custom-checkbox-text{
  cursor: pointer;
  padding: 5px 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  display: inline-block;
}
.custom-radio-label {
  display: block;
  margin-bottom: 10px;
}

.custom-radio-text {
  cursor: pointer;
  padding: 5px 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  display: inline-block;
}

.custom-radio-text.selected,.color-option-text.selected{
  background-color: #f8b45c;
}

.custom-radio-image {
  cursor: pointer;
  margin-right: 3vi;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 150px;
  height: 100px;
}
textarea{
  min-width: 30vi;
    border-radius: 10px;
    padding: 5px 10px;
    min-height: 5vi;
    box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.05),
    5px 5px 5px rgba(0, 0, 0, 0.05),
    3px 3px 5px  rgba(0, 0, 0, 0.05);
}
.custom-radio-image.selected {
  border-color: #f8b45c;
}

.choicePcbQty {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 99999;
  background: rgba(0, 0, 0, 0.5);
  display: grid;
  overflow-y: auto;
  align-items: center;
  justify-content: center;
  animation: fIn .3s ease-out;
}

.modal {
  font-family: sans-serif;
  padding: 20px;
  width: 22vi;
  background-color: rgb(248, 248, 243);
  border-radius: 12px;
  border-color: rgba(255, 90, 123, 0.781);
  animation: sIn .3s ease-out;
}

@keyframes fIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes sIn {
  from {
    transform: translateY(-100%);
  }

  to {
    transform: translateY(0);
  }
}

.form {
  position: relative;
  align-items: center;
  justify-content: center;
  padding: 30px;
  border-radius: 10px;
  flex-wrap: wrap;
  max-width: 65%;
  border:double rgb(37, 37, 37);
  margin: 0 auto;
}
.content {
  display: flex;
  flex-direction: column;
}
.base-material {
  display: flex;
  flex-direction: row;
}
.dimen-opt input, .dimen-opt select{
  padding: 5px 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
  display: inline-block;
  margin: 5px;
}
.dimen-input input{
  padding: 5px 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
  display: inline-block;
  margin-left: 1vi;
  margin-top: -.5vi;
}
.order{
  position: fixed;
  border-radius: 4px;
  border: 1px solid #ccc;
  display: inline-block;
  margin: 3vi;
  padding: 10px;
  top: 0;
  right: 0;
  width: max-content;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.fonts{
  font-size: 1.3vi;
  
}
.toggle{
  cursor: pointer;
  transition: 0.3s ease-out;
  border-radius: 10px;
  text-align: center;
}
.toggle:hover{
  background-color: #ccc;
}
.sub{
  border-radius: 4px;
  border: 1px solid #ccc;
  background-color: #f8b45c;
  padding: 5px 10px;
}
.color-square {
  width: 10px;
  height: 10px;
  border: 1px solid #000;
  margin-right: 5px;
}
.color-options {
  display: flex;
  flex-wrap: nowrap;
}

.color-option-label {
  margin-right: 1vi;
}
.color-option-text {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 5px 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.custom-radio-text.disabled {
  color: #999;
  pointer-events: none;
}
.panel input{
  padding: 5px 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
  display: inline-block;
  margin-right: .5vi;
  margin-top: .5vi;
}
.language-switch {
  display: flex;
}

.language-button {
  background-color:  #f8b45c;
  border: none;
  color: white;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  margin: 1vi 1vi;
  display: inline-block;
  font-size: 1vi;
  cursor: pointer;
  border-radius: 12px;
  transition-duration: 0.4s;
}

.language-button:hover {
  background-color: #e0884d;
}
